@charset "utf-8";
/* CSS Document */

/* the container of the menu div */
#micro_menu_container{
	display:block; /* will be enabled by JavaScript when data is loaded */
	height:54px;
    float: center; 
}


/* the main bar */
#micro_menu{
	background-image:url(MicroMenuImages/menu_bg.png);
	background-repeat:no-repeat;
	height:37px;
	padding-left:4px;
    float: center;
}

#micro_menu a:link, #micro_menu a:visited{
	
	color:#000;
	font-family:Arial, Helvetica, sans-serif;	
	font-size:13px;
	text-decoration:none;
	
	margin-top:1px;
	padding-top:8px;
	padding-bottom:9px;
	padding-left:10px;
	padding-right:10px;
	
	background-image:url(MicroMenuImages/main_btn_background.png);
	background-repeat:no-repeat;
	background-position:50% 0px; /* on rollover this bg will move upwards and show a more opaque color */
	
	float:left;
	display:inline-block;
}


#micro_menu a:hover{
	/* change main rollover text color here if needed */
}


/* the group of sub menus */
.micro_menu_sub{
	margin-top:2px;
	margin-left:2px;
}

.micro_menu_sub a:link, .micro_menu_sub a:visited{
	
	color:#FFF;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;	
	font-size:12px;

	padding:3px;
	padding-left:9px;
	padding-right:9px;
	
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	
	background-color:#FFF;
	background-color:rgba(255,255,255,0);
	
	float:left;
	display:inline-block;
	
}

.micro_menu_sub a:hover{
	background-color:rgba(255,255,255,0.3);
}

.micro_menu_main_separator{
	
	height:15px;
	width:2px;
	margin-top:10px;
	
	background-image:url(MicroMenuImages/main_separator.png);
	background-repeat:no-repeat;
	
	opacity: 0.6;
	
	float:left;
	display:inline-block;
}

.micro_menu_sub_separator{
	
	width:1px;
	height:15px;
	margin-top:3px;
	
	background-color:rgba(0,0,0,0.1);
	
	float:left;
	display:inline-block;
}